<div class="fl w-100 mb4">
  <div class="mb4">
    <p><b>pricing group:</b> <%= @modeling_project.pricing_group %></p>
    <p><b>total price:</b> <%= number_to_currency(@modeling_project.total_price) %></p>
    <p><b>payment received on:</b> <%= womp_strftime(@modeling_project.paid_at) %></p>
    <p><b>estimated completion on:</b> <%= womp_strftime(@modeling_project.model_at) %></p>
  </div>

  <% if @modeling_project.uploads.where(reviewable: true).present? %>
    <div class="cf mb4">
      <p><%= @modeling_project.uploads.where(reviewable: true).count.ordinalize %> draft</p>

      <%= render 'shared/viewer', upload: @modeling_project.uploads.where(reviewable: true).last, project: @modeling_project %>

      <% if @modeling_project.uploads.where(reviewable: true, released_to_user: true).present? && @modeling_project.uploads.where(reviewable: true, released_to_user: true).last.accepted.nil? && @modeling_project.uploads.where(reviewable: true, released_to_user: true).last.is_viewer_ready? %>
        <p>the user is currently reviewing the model</p>
      <% end %>
    </div>
  <% end %>

  <% if @modeling_project.uploads.where.not(admin_user_id: nil).where(reviewable: true, released_to_user: false).present? %>
    <div class="fl w-100 border-container mb4">
      <h3>required action</h3>
      <p>you must verify this model is correct</p>

      <%= form_for @modeling_project.uploads.where.not(admin_user_id: nil).where(reviewable: true, released_to_user: false).select{|u| u.file_type == "3d_model"}.last, url: admin_upload_path(@modeling_project.uploads.where.not(admin_user_id: nil).where(reviewable: true, released_to_user: false).select{|u| u.file_type == "3d_model"}.last), method: :put do |f| %>
        <%= f.hidden_field :released_to_user, value: true %>

        <fieldset class="mt2">
          <%= link_to 'model is incorrect - delete', admin_upload_path(@modeling_project.uploads.where.not(admin_user_id: nil).where(reviewable: true, released_to_user: false).select{|u| u.file_type == "3d_model"}.last), method: :delete, data: { confirm: 'are you sure?' }, class: 'button destructive-button fr' %>
          <%= f.submit 'verify model is correct', class: 'button primary-button fr mr2' %>
        </fieldset>
      <% end %>
    </div>
  <% else %>
    <div class="fl w-100 border-container mb4">
      <% if @modeling_project.uploads.where(reviewable: true).present? %>
        <h3>potential action</h3>
        <p>if the user does not accept this model you may need to upload another version of it for free</p>
      <% else %>
        <h3>required action</h3>
        <p>you must upload a model to this project</p>
      <% end %>

      <%= form_for @modeling_project, url: admin_modeling_project_path(@modeling_project), method: :put do |f| %>
        <%= f.hidden_field :admin_user_id, value: current_admin_user.id %>
        <%= f.hidden_field :reviewable, value: true %>

        <fieldset class="mt2">
          <%= f.file_field :temp_uploads, direct_upload: true, multiple: false, class: 'dn' %>
          <%= f.label :temp_uploads do %>
            <span class="button secondary-button mr1">choose file</span> <span class="update-text">no file chosen</span>
          <% end %>
        </fieldset>

        <fieldset class="mt2">
          <%= f.submit 'submit', class: 'button primary-button tr' %>
         </fieldset>
      <% end %>
    </div>

    <% if @modeling_project.uploads.where(reviewable: true).present? %>
      <div class="fl w-50 pl2">
        <div class="border-container mb4">
          <h3>potential action</h3>
          <p>if the user does not accept this model you may need to create a new version of the project in order to capture more payment before making edits. <b>select the pricing group</b> for the new project version below.</p>

          <%= form_for @modeling_project, url: new_modeling_project_version_admin_modeling_project_path(@modeling_project), method: :put do |f| %>
            <fieldset class="mt2">
              <%= f.label :pricing_group, 'pricing group' %>
              <%= f.select :pricing_group, options_for_select(modeling_pricing_groups), { include_blank: true }, { class: 'mw-100 w-100' } %>
            </fieldset>

            <fieldset class="mt2">
              <%= f.submit 'submit', class: 'button primary-button fr' %>
            </fieldset>
          <% end %>
        </div>
      </div>

      <div class="fl w-50 pl2">
        <div class="border-container mb4">
          <h3>potential action</h3>
          <p>if the user does not accept this model you may need to create a new version of the project in order to capture more payment before making edits. <b>manually assign a price</b> to the new project below.</p>

          <%= form_for @modeling_project, url: new_modeling_project_version_admin_modeling_project_path(@modeling_project), method: :put do |f| %>
            <%= f.hidden_field :pricing_group, value: 'override' %>

            <fieldset class="mt2">
              <%= f.label :price_override, 'price override' %>
              <%= f.number_field :price_override, step: :any, placeholder: '--', class: 'mw-100 w-100', value: nil %>
            </fieldset>

            <fieldset class="mt2">
              <%= f.submit 'submit', class: 'button primary-button fr' %>
            </fieldset>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="fl w-100">
    <div class="pa2 border-container scroll-box">
      <%= render 'admin/modeling_projects/review_container', able_to_delete: false %>
    </div>

    <div class="fl w-100 mv4">
      <%= render 'admin/comments/comment_module', project_type: 'ModelingProject', project_id: @modeling_project.id, project: @modeling_project %>
    </div>
  </div>
</div>
