<table class="fl w-100 womp-simple-table mb4">
	<thead>
		<tr>
			<th>name</th>
			<th>status</th>
			<th>cost</th>
			<th>created at</th>
			<th>actions</th>
		</tr>
	</thead>

	<tbody>
		<% target.each do |modeling_project| %>
			<tr>
				<td><%= modeling_project.name.present? ? modeling_project.name : 'not named yet' %></td>
				<td><%= modeling_project.status %></td>
				<td><%= modeling_project.total_price.present? ? number_to_currency(modeling_project.total_price) : number_to_currency(0) %></td>
        <td><%= womp_strftime(modeling_project.created_at).downcase %></td>
				<td>
					<%= link_to "view", admin_modeling_project_path(modeling_project) %> - <%= link_to "edit", edit_admin_modeling_project_path(modeling_project) %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
