<div class="fl w-100 pa2 mb4">
  <%= render 'typography' %>
</div>

<div class="fl w-100 pa2 mb4">
  <%= render 'form_elements' %>
</div>

<div class="fl w-100 pa2 mb4">
	<%= render 'navigation' %>
</div>

<div class="fl w-100 pa2 mb4">
  <%= render 'tables' %>
</div>

<div class="fl w-100 pa2 mb4">
  <%= render 'toasts' %>
</div>
