<div class="center cf mw8 ph6 pv6 w-100">
  <div class="fl w-third-l w-100 ph3 ph4-l tc">
		<% if current_page?(root_path) %>
			<%= link_to "/how-it-works#scanning", class: 'dib w-100 trio-icon-hover trio-icon-scanning' , data: { turbolinks: false } do %>
				<div class="aspect-ratio aspect-ratio--1x1">
					<div class="aspect-ratio--object contain trio-icon-hover-image">
					</div>
				</div>
				<h2 class="f5 black b--black br0 bt bw1 ph3 pt2 mb1 dib">3d scanning</h2>
				<p class="black f7 measure-narrow center trio-icon-hover-content">i have something i'd like to send in to get 3d scanned, including scans i need modified using 3d modeling</p>
			<% end %>
		<% else %>
			<%= link_to scanning_projects_path(scanning_project: { user_id: current_user.id }), data: { turbolinks: false }, class: 'dib w-100 trio-icon-hover trio-icon-scanning', method: :post do %>
				<div class="aspect-ratio aspect-ratio--1x1">
					<div class="aspect-ratio--object contain trio-icon-hover-image">
					</div>
				</div>
				<h2 class="f5 black b--black br0 bt bw1 ph3 pt2 mb1 dib">3d scanning</h2>
				<p class="black f7 measure-narrow center trio-icon-hover-content">i have something i'd like to send in to get 3d scanned, including scans i need modified using 3d modeling</p>
			<% end %>
		<% end %>
	</div>
  <div class="fl w-third-l w-100 ph3 ph4-l tc">
		<% if current_page?(root_path) %>
			<%= link_to "/how-it-works#modeling", class: 'dib w-100 trio-icon-hover trio-icon-modeling' , data: { turbolinks: false } do %>
				<div class="aspect-ratio aspect-ratio--1x1">
					<div class="aspect-ratio--object contain trio-icon-hover-image">
					</div>
				</div>
				<h2 class="f5 black b--black br0 bt bw1 ph3 pt2 mb1 dib">3d modeling</h2>
				<p class="black f7 measure-narrow center trio-icon-hover-content">i need help making my idea into a 3d model, or modifying a 3d model</p>
			<% end %>
		<% else %>
			<%= link_to modeling_projects_path(modeling_project: { user_id: current_user.id }), data: { turbolinks: false }, class: 'dib w-100 trio-icon-hover trio-icon-modeling', method: :post do %>
				<div class="aspect-ratio aspect-ratio--1x1">
					<div class="aspect-ratio--object contain trio-icon-hover-image">
					</div>
				</div>
				<h2 class="f5 black b--black br0 bt bw1 ph3 pt2 mb1 dib">3d modeling</h2>
				<p class="black f7 measure-narrow center trio-icon-hover-content">i need help making my idea into a 3d model, or modifying a 3d model</p>
			<% end %>
		<% end %>
	</div>
	<div class="fl w-third-l w-100 ph3 ph4-l tc">
		<% if current_page?(root_path) %>
			<%= link_to "/how-it-works#printing", class: 'dib w-100 trio-icon-hover trio-icon-printing' , data: { turbolinks: false } do %>
				<div class="aspect-ratio aspect-ratio--1x1">
					<div class="aspect-ratio--object contain trio-icon-hover-image">
					</div>
				</div>
				<h2 class="f5 black b--black br0 bt bw1 ph3 pt2 mb1 dib">3d printing</h2>
				<p class="black f7 measure-narrow center trio-icon-hover-content">i need help making my 3d model into a physical object</p>
			<% end %>
		<% else %>
			<%= link_to printing_projects_path(printing_project: { user_id: current_user.id }), data: { turbolinks: false }, class: 'dib w-100 trio-icon-hover trio-icon-printing', method: :post do %>
				<div class="aspect-ratio aspect-ratio--1x1">
					<div class="aspect-ratio--object contain trio-icon-hover-image">
					</div>
				</div>
				<h2 class="f5 black b--black br0 bt bw1 ph3 pt2 mb1 dib">3d printing</h2>
				<p class="black f7 measure-narrow center trio-icon-hover-content">i need help making my 3d model into a physical object</p>
			<% end %>
		<% end %>
	</div>
</div>
