<div class="mw8 center pv5 ph2">
	<div class="cf mb4">
    <div class="cf mv4">
  		<%= render 'shared/viewer', upload: @printing_project.uploads.last, project: @printing_project %>
  	</div>

		<div class="fl w-100 tc tl-l">
      <p class="f5 lh-copy tc">your project was to print an object with <b><%= @printing_project.material.display_name.downcase %></b></p>

      <% if @printing_project.tracking_number.present? %>
        <p class="f5 lh-copy tc">your print has been shipped back to you. your tracking number is <b><%= @printing_project.tracking_number %></b> with <b><%= @printing_project.carrier %></b>.</p>
      <% elsif @printing_project.picked_up? %>
        <p class="f5 lh-copy tc">our records indicate that you picked up your print from our offices</p>
      <% end %>
		</div>

		<div class="fl w-100 mt4 tc">
			<p class="caption measure center">if you have any questions, please use the comment section below to speak directly to a member of the womp team</p>
		</div>
	</div>

	<div class="cf w-100 mv4">
		<%= render 'comments/comment_module', project_type: 'PrintingProject', project_id: @printing_project.id, project: @printing_project %>
	</div>
</div>
