<div class="bg-white pv6 ph2">
	<div class="cf mw8 center pv6">
		<div class="fl w-50-l w-100 tc tl-l mt3 mb5 mv0-l">
			<h2 class="f3 fw7 lh-title">3d printing project</h2>
			<div>
				<span class="v-mid"><%= @printing_project.created_at.strftime('%D') %> • <%= @printing_project.name.present? ? @printing_project.name : 'not named yet' %></span>
			</div>
		</div>
		<div class="fr w-50-l w-100">
			<ul class="progress-indicator">
				<li class="completed"><span class="bubble"></span> create<br/>project </li>
				<li class="<%= @printing_project.uploads.last.present? && @printing_project.uploads.last.is_viewer_ready? ? 'completed' : nil %>"><span class="bubble"></span> choose<br/>materials </li>
				<li class="<%= @printing_project.material.present? ? 'completed' : nil %>"><span class="bubble"></span> womp<br/>reviewing </li>
				<li class="<%= @printing_project.womp_approved? ? 'completed' : nil %>"><span class="bubble"></span> checkout </li>
				<li class="<%= @printing_project.paid? ? 'completed' : nil %>"><span class="bubble"></span> printing </li>
				<li class="<%= @printing_project.tracking_number.present? || @printing_project.picked_up? ? 'completed' : nil %>"><span class="bubble"></span> complete </li>
			</ul>
		</div>
	</div>
</div>
