<% breadcrumb :admin_users %>

<div class="fl w-100 mb4">
	<h1 class="f3 lh-title">admin users</h1>
  <%= link_to 'new admin user', new_admin_admin_user_path %>
</div>

<table class="fl w-100 womp-simple-table mb4">
	<thead>
		<tr>
			<th>email</th>
			<th>last sign in at</th>
			<th>sign in count</th>
			<th>created at</th>
			<th>actions</th>
		</tr>
	</thead>

	<tbody>
		<% @admin_users.each do |admin_user| %>
			<tr>
				<td><%= admin_user.email %></td>
				<td><%= womp_strftime(admin_user.current_sign_in_at).downcase %></td>
				<td><%= admin_user.sign_in_count %></td>
				<td><%= womp_strftime(admin_user.created_at).downcase %></td>
				<td>
					<%= link_to "view", admin_admin_user_path(admin_user) %> - <%= link_to "edit", edit_admin_admin_user_path(admin_user) %> - <%= link_to "delete", admin_admin_user_path(admin_user), method: :delete, data: { confirm: 'are you sure?' } %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
